.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
}

/* Styles for the block number */
h1 {
  margin-bottom: 10px;
}


button {
  margin: 5px;
}

.search-input {
  width: 33%;
  min-width: 500px; /* Optional, ensures it doesn't get too small on narrow screens */
}

.token-balances-title {
  /* Add your custom styles here */
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  /* Other styling properties as needed */
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nft-sales-table-container, .right-panel {
  max-width: 30%; /* Adjusted to account for padding/margins */
  flex-grow: 1; /* Allows the containers to grow to fill the parent */
  padding: 10px;
  box-sizing: border-box;
}

td {
  word-wrap: break-word;
  max-width: 150px; /* Example max-width, adjust as needed */
}

.top-container {
  display: flex;
  flex-direction: row; /* Ensure horizontal layout */
  width: 100%;
}

.left-container, .right-container {
  flex: 1; /* Each takes up half the space */
  padding: 10px;
  box-sizing: border-box;
}

/* Styles for the table */
.transactions-table {
  flex: 1;
  max-width: 50%; /* Takes up half of the page's width */
  margin-top: 20px; /* Add margin to separate the block number and table */
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: black; /* Black background */
  color: white; /* White text */
}

/* Pagination styles (you can adjust as needed) */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
